<%= require('../template/header.ejs')() %>

<!-------------------- ANCHOR -- image -------------------->
<section id="demo__0" class="section">
    <div class="container">
        <h1>Page</h1>
        <h2>Optimised image - Need to convert in 3 sizes : 500px, 1000px and 1500px and keep the original</h2>
        <img src="<%= require('../images/briggs-boyd-UTpsWrVF49Q-unsplash.jpg') %>" srcset="<%= require('../images/briggs-boyd-UTpsWrVF49Q-unsplash-500w.jpg') %> 500w, <%= require('../images/briggs-boyd-UTpsWrVF49Q-unsplash-1000w.jpg') %> 1000w, <%= require('../images/briggs-boyd-UTpsWrVF49Q-unsplash-1500w.jpg') %> 1500w" alt="briggs-boyd-UTpsWrVF49Q-unsplash">
        <!-- <p data-scroll data-scroll-offset="10%" class="on__scroll">Apparition au scroll</p> -->
    </div>
</section>

<%= require('../template/footer.ejs')() %>
